<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>thymeleaf</title>
</head>
<body>
    <h1>hello!~<span th:text="${name}"></span></h1>
    <table>
        <tr th:each="item : ${articles}">
            <td th:text = "${item.title}"></td>
            <td th:text = "${item.content}"></td>
        </tr>
    </table>
<!--    <div>-->
<!--        <p th:text="${Person.name}"></p>-->
<!--        <p th:text="${Person.age}"></p>-->
<!--        <p th:text="${Person.id}"></p>-->
<!--    </div>-->
    <div th:object = "${Person}">
        <p th:text="|이름:*{name}|"></p>
        <p th:text="|나이:*{age}|"></p>
        <p th:text="|id:*{id}|"></p>
    </div>

    <ul>
        <li th:each="hobby:*{hobbies}" th:text="${hobby}"></li>
    </ul>



    <div th:if="${error != null}" >
        에러 발생
    </div>
    <div th:unless="${error != null}">
    정상 작동
    </div>

    <p th:text = "${#temporals.format(today, 'MM-dd-yyyy')}"></p>

</body>
</html>